.header-row {
  margin-top: 1em;
}

.block {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

input[type=text]:not(.browser-default):disabled.block-field {
  color: rgb(0, 0, 0);
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
}

input[type=number]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
}

.mine-btn {
  margin: 1em 0;
}

.hash-textarea {
  height: 4em !important;
  color: rgb(0, 0, 0);
}

.materialize-textarea.hash-textarea {
  height: 4.2em;
  color: rgb(0, 0, 0) !important;
}

.materialize-textarea.data-textarea {
  height: 10em;
  max-height: 10em;
  overflow-y: auto;
}

.block.col.s11.m5.l5 {
  min-width: 350px;
  padding-top: 1em;
}

.add-block-textarea-wrapper {
  margin-top: 2em !important;
}

.bad-block {
  background-color: #ffcdd2;
}

.mined-block {
  background-color: #c8e6c9;
}

.block-header {
  line-height: 110%;
  margin-bottom: 1.75em;
}

.block-title {
  font-size: 1.64em;
}

label.active {
  color: #000000 !important;
  font-size: 1.2rem !important;
}

.app-title {
  color: #FFFFFF;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}

.modal-trigger {
    height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
}

#toast-container {
  bottom: auto !important;
  left: auto !important;
  top: 5%;
  right: 0;
}

.toast {
  font-size: 1.25em;
}

nav ul a:hover {
  background-color: rgba(0,0,0,0.0);
}