.header-row {
  margin-top: 1em;
}

.block {
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

input[type=text]:not(.browser-default):disabled.block-field {
  color: rgb(0, 0, 0);
}

.mine-btn {
  margin: 1em 0;
}

.hash-textarea {
  height: 4em !important;
  color: rgb(0, 0, 0);
}

.materialize-textarea.hash-textarea {
  height: 4.2em;
  color: rgb(0, 0, 0) !important;
  overflow-y: auto;
}

.materialize-textarea.data-textarea {
  height: 10em;
}

.block.col.s11.m5.l5 {
  min-width: 350px;
  padding-top: 1em;
}

.add-block-textarea-wrapper {
  margin-top: 2em !important;
}

.bad-block {
  background-color: #ffcdd2;
}

.mined-block {
  background-color: #c8e6c9;
}